* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none

}

/* adjusting fonts */

body {
	color: red;
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif, garamond;
	transition: background 500ms ease;
	background-color: rgb(230,230,230);

}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.container{
	position:absolute;
	top:0;
	z-index: 1;
}

pre {
	position: absolute;
	top: auto;
	max-width: 30%;;
	padding: 10px;
	overflow: auto;
	white-space: pre-wrap;
}

#light {
	font-style: italic;
 opacity: 30%;	
}

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: bold;
	font-size: 48px;
}

#canvas-frame {
	width: 1200px;
	height: 900px;
	position: relative;
	z-index: -100;
	overflow: hidden;
  }

  canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
  }

  .clickSand{
	position: absolute;
	bottom:50px;
	left: 50%;
	transform: translateX(-50%);
	color: rgb(230,230,230);
	z-index: 100;
	font-size: 36px;
}