* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	color: red;
	font-family: -apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif, garamond;
	transition: background 500ms ease;
	background-color: #f0f0f0;
}

p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/


pre {
	position: absolute;
	top: auto;
	max-width: 30%;;
	padding: 10px;
	overflow: auto;
	white-space: pre-wrap;
}

#light {
	font-style: italic;
 opacity: 30%;	
}

h1 {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: bold;
	font-size: 48px;
}